<section class="te-login-container">
  <section class="nacho-login">
    <img src="http://via.placeholder.com/350x150" alt="Thirdeye Logo">
    <h1 class="nacho-login__header te-login-title">Third Eye</h1>
    <h4 class="te-login-subtitle">Detect and analyze anomalies</h4>
    <p class="te-login-intro">
      Detect anomalies with your metrics automatically, and <br>
      analyze root causes across metrics. events and dimensions.
    </p>
    <div>
    {{login-form}}
    </div>
  </section>
</section>
{{outlet}}