.events-summary {
  display: flex;
  width: 100%;
  border: 1px solid $te-border-color;
  border-bottom: 0;
}

.events-summary__item {
  padding: 14px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid $te-border-color;
  border-bottom: 2px solid transparent;
  flex-basis: 0;
  flex-grow: 1;

  &--no-border { 
    border-right: 0;
  }

  &--active,
  &:hover {
    border-bottom: 2px solid $te-blue;
  }
}

.events-summary__number {
  color: $te-blue;
  font-size: 18px;
  // color: $te-blue;
}

.events-table__column {
  max-width: 25%;
  width: 25%;
}