.spinner-wrapper {
  margin: $te-default-element-spacing;
  height: 250px;
  position: relative;
}

.rca-title {
  @include margin-reset;
  @include padding-reset;

  margin-bottom: $te-default-element-spacing;
  font-size: $te-default-element-spacing;
  font-weight: normal;
  color: lighten(black, 25%);
}

.paper-container {
  background-color: white;
  border: 1px solid #CCC;
  margin-top: 24px;
  margin-bottom: 24px;
}


.paper-container__header,
.paper-container__body,
.paper-container__footer {
  padding: $te-spacing-lg;
}

.rca-summary { 
  margin-top: $te-spacing-lg;
}

.rca-search-bar {
  background-color: $anomaly-nav-background;
  padding-top: $te-spacing;
  padding-bottom: $te-spacing;
}

// .rca-title {
//   @include margin-reset;
//   @include padding-reset;

//   margin-bottom: 24px;
//   font-size: 24px;
//   font-weight: normal;
//   color: lighten(black, 25%);
// }

.rca-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $te-default-element-spacing;
}

.rca-actions {
  margin-top: $te-default-element-spacing;
}
