<div class="events-summary">
  <div class="events-summary__item">
    <span class="events-summary__number">{{allCount}}</span>
    <span>All</span>
  </div>
  <div class="events-summary__item">
    <span class="events-summary__number">{{holidayCount}}</span>
    <span>Holiday</span> 
  </div>
  {{!--<div class="events-summary__item">
    <span class="events-summary__number">50</span>
    <span>LIX</span> 
  </div>
  <div class="events-summary__item">
    <span class="events-summary__number">30</span>
    <span>Deployment</span> 
  </div>--}}
  <div class="events-summary__item">
    <span class="events-summary__number">{{gcnCount}}</span>
    <span>GCN</span> 
  </div>
  <div class="events-summary__item events-summary__item--no-border">
    <span class="events-summary__number">{{informedCount}}</span>
    <span>Informed</span> 
  </div>
</div>