<section class="paper-container__body">
  <div class="rca-header">
    <h3 class="te-sub-title te-sub-title--flush">Events Correlation</h3>
  </div>
  {{#containers/events-table-container as |events actions|}}
    {{#if events.loading}}
      <div class="spinner-wrapper">
        {{ember-spinner}}
      </div>
    {{/if}}
    {{#if events.loaded}}
      {{events-table
        events=events.data
      }}
    {{/if}}
  {{/containers/events-table-container}}
    {{!--useFilteringByColumns=false--}}
</section>

