<main class="row paper-container__body">
  {{!--<h3 class="te-sub-title te-sub-title--flush">Events Correlation</h3>--}}
  {{#containers/events-table-container as |events actions|}}
    {{#if events.loading}}
      <div class="spinner-wrapper">
        {{ember-spinner}}
      </div>
    {{/if}}
    {{#if events.loaded}}
      {{events-table
        events=events.data
      }}
    {{/if}}
  {{/containers/events-table-container}}
    {{!--useFilteringByColumns=false--}}
</main>

