{{input
  value=username
  class="nacho-login-form__input"
  placeholder="Username"
  id="login-username"}}

{{input
  value=password
  class="nacho-login-form__input"
  placeholder="Username"
  id="login-username"}}

<button {{action "onLogin"}} class="nacho-button--large nacho-login-form__button nacho-button--secondary">
  Login
</button>