@import "shared/color";
@import "shared/variable";
@import "wrapper/color";
@import 'components/anomaly-id';
@import 'wrapper/styles';

@import "ember-bootstrap/bootstrap";
@import 'contribution-table';

.c3-lines {
  stroke-width: 2px;
}
.c3-chart-line:nth-child(even) > .c3-lines {
    stroke-dasharray: 1%;
}

// .c3-legend-item:nth-child(even) > .c3-legend-item-tile {
//     stroke-dasharray: 1;
// }

.anomaly-graph {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #CCC;

    &:not(:first-child) {
        margin-top: 14px;
    }
}

.anomaly-graph__filter-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-panel { 
    flex-basis: 25%;
    flex-grow: 1;
    overflow: scroll;
    position: relative;
    border-right: 1px solid #CCC;
}

.right-panel { 
    flex-basis: 75%;
    flex-grow: 1;
    width: 75%;
    padding: 14px;
}

.c3-region__blue {
  fill: blue;
}

.anomaly_graph__filters {
    position: absolute;
    // padding: 14px;
    top: 0; 
    bottom: 0; 
    right: 0;
    left: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
    background-color: white;
    padding: 24px;
    border: 1px solid #CCC;
}

.contribution-table {
    // padding: 14px;
    border: 1px solid #CCC;
    margin-top: 24px;
}

.contribution-table__body {
    padding: 14px;
}

.contribution-table__title {
    padding: 14px 0;
    margin: 0;
}

.anomaly-graph__filter-group {
    padding-left: 14px;
}

.anomaly-graph__filter-item {
    // padding: 14px;
}

.legend-title {
    padding: 8px 14px;
    color: darken(#CCC, 30%);
    margin: 0;
}

.rca-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: normal;
}

.contribution-table__header {
    display: flex;
    border-bottom: 1px solid #CCC;
    padding: 14px 0;
}

.contribution-table__subnav {
    margin: 0 14px;
}

.thirdeye-link {
  cursor: pointer;
  font-size: 14px;
  color: darken(#CCC, 30%);
  text-decoration: none;
}

.thirdeye-link--active,
.thirdeye-link:hover {
  color: #0073b1;
  padding-bottom: 12px;
  border-bottom: 2px solid #0073B0 !important;
}

.rca-header {
    display: flex;
    justify-content: space-between;
}

// body {
//     font-size: 14px;
// }

.c3-region__orange {
    fill: orange;
}


.legend-title {
    background-color: lighten(#CCC, 15%);
}
body {
    background-color: lighten(#CCC, 15%);
}
// import last overrides
@import 'wrapper/styles'
