@import "shared/color";
@import "shared/variable";
@import "wrapper/color";
@import 'components/anomaly-id';
@import 'wrapper/styles';

@import "ember-bootstrap/bootstrap";
@import 'percentage-table';

.c3-lines {
  stroke-width: 2px;
}
.c3-chart-line:nth-child(even) > .c3-lines {
    stroke-dasharray: 1%;
}

// .c3-legend-item:nth-child(even) > .c3-legend-item-tile {
//     stroke-dasharray: 1;
// }

.anomaly-graph {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #CCC;
}

.anomaly-graph__filter-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-panel { 
    flex-basis: 25%;
    flex-grow: 1;
    overflow: scroll;
    position: relative;
    border-right: 1px solid #CCC;
}

.right-panel { 
    flex-basis: 75%;
    width: 75%;
    padding: 14px;
}

.c3-region__blue {
  fill: blue;
}

.anomaly_graph__filters {
    position: absolute;
    padding: 14px;
    top: 0; 
    bottom: 0; 
    right: 0;
    left: 0;
}