* {
  box-sizing: border-box;
}

@import "ember-bootstrap/bootstrap/variables.scss";
@import "ember-bootstrap/bootstrap/normalize.scss";
@import "ember-bootstrap/bootstrap/mixins.scss";
@import "ember-bootstrap/bootstrap/glyphicons.scss";
@import "ember-bootstrap/bootstrap/forms.scss";
@import "ember-bootstrap/bootstrap/grid.scss";
@import "ember-bootstrap/bootstrap/tables.scss";
// @import "ember-bootstrap/bootstrap/type.scss";

@import "shared/mixins";
@import "shared/color";
@import "shared/variable";
@import "wrapper/color";
@import 'components/anomaly-id';
@import 'components/anomaly-graph';
@import 'components/contribution-table';
@import 'wrapper/styles';

// @import "ember-bootstrap/bootstrap";

.page-container {
    // width: 75%;
    // margin: 0 auto;
    background-color: white;
    padding: 24px;
    border: 1px solid #CCC;
    margin-bottom: 24px;
}

.rca-title {
    @include margin-reset;
    @include padding-reset;

    margin-bottom: 24px;
    font-size: 24px;
    font-weight: normal;
    color: lighten(black, 25%)
}

.rca-header {
    display: flex;
    justify-content: space-between;
}

body {
    font-size: 14px;
}

body {
    background-color: lighten(#CCC, 15%);
    color: lighten(black, 40%);
}
// import last overrides
@import 'wrapper/styles'

