/* analysis table css*/

.analysis-table-wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

.analysis-table {
  table-layout: fixed;
}

.analysis-table>thead>tr>th,
.analysis-table>tbody>tr>th,
.analysis-table>tfoot>tr>th,
.analysis-table>thead>tr>td,
.analysis-table>tbody>tr>td,
.analysis-table>tfoot>tr>td {} .analysis-table {
    border: none !important;
}
.analysis-table>thead>tr>th {
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    background-color: #E4E8EC;
}
.analysis-table>tbody>tr>td {
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    background-color: white;
}
.analysis-table>thead>tr>th.dim-label {
    background-color: #F3F6F8;
    border: none !important;
    font-weight: 400;
}
.analysis-table>tbody>tr>td.dim-label {
    background-color: #F3F6F8;
    border: none !important;
}
.analysis-table__anchor {
  position: sticky;
  z-index: 1;
  left: -1px;
  top: -1px;
}

.analysis-table__dimension {
  position: sticky;
  /* offset the table border*/
  left: -1px;
}


.analysis-table__header {
  position: sticky;
  /* offset the table border*/
  top: -1px;
}

.analysis-table__anchor--low,
.analysis-table__subheader {
  /* offset the table border*/
  position: sticky;
  top: 29px;
}

.analysis-table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
}

.analysis-table__item {
  width: 35%;
  flex: none;
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.analysis-table__item--small {
  width: 30%;
  justify-content: center;
}

.analysis-table__item--large {
  width: 100%;
  justify-content: center;
}